body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f0f0f0;
  color: #333;
}

h1, h2 {
  color: #004080;
}

.div-normal {
  border: 2px solid #007bff;
  background-color: #e6f0ff;
  padding: 20px;
  margin-bottom: 40px;
  
}

.div-flex {
  border: 2px dashed #28a745;
  background-color: #e6ffe6;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}
.div-flex2 {
  border: 2px dashed #28a745;
  background-color: #e6ffe6;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  

}

/* Estilo comum para elementos */
.div-normal p, .div-flex p, .div-normal button, .div-flex button {
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
}